<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donabenedita">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".telasFornecedor.MostraProdutoActivity"></activity>
        <activity android:name=".telasFornecedor.CadastroProdutoActivity" />
        <activity android:name=".AdmActivity" />
        <activity android:name=".telasCliente.InicialCActivity" />
        <activity android:name=".telasFornecedor.InicialFActivity" />
        <activity android:name=".logins.LoginFornecedorActivity" />
        <activity android:name=".logins.LoginClienteActivity" />
        <activity android:name=".cadastros.CadasFornecedorActivity" />
        <activity android:name=".cadastros.CadasClienteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>